---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      <a href={{ "/contact/" | prepend: site.baseurl }}>Contact</a>
    </div>
</header>


<main class="content" role="main">

  <h5 class="index-headline featured"><span>Current research</span></h5>
  
  <div class="container regular">
    <article class="post" role="article">
      <div class="article-item">
        <header class="post-header">
          <h2 class="post-title">CDT PhD in Designing Responsible NLP</h2>
        </header>
        <section class="post-excerpt">
          <p>I'm currently pursuing a PhD in responsible natural language processing and artificial intelligence at the University of Edinburgh. My research focuses on technology narratives and hype, AI ethics and regulation, and the social impacts of AI and NLP. I'm interested in how the stories we tell about technology today influences the design and regulation of the technologies of tomorrow.</p>
        </section>
      </div>
    </article>
  </div>

  <h5 class="index-headline normal"><span>Previous work</span></h5>
  
  <div class="container regular">
    <article class="post" role="article">
      <div class="article-item">
        <header class="post-header">
          <h2 class="post-title">How have the stories told by the AI industry about AI as a technology influenced the formation of the EU AI Act?</h2>
        </header>
        <section class="post-excerpt">
          <p>My masters' thesis asks if the narratives that surround AI as a technology, in media reports, interviews and even submissions of evidence to the EU Commission, could have influenced how policymakers thought about what they needed to regulate and how they would do it. In particular, prevailing stories that AI will definitely progress until it reaches general intelligence, that it will lead to either utopia or dystopia, and that it's a zero-sum game, if 'we' don't get there first, someone else wil reap the rewards.</p>
        </section>
      </div>
    </article>
  </div>

 <h5 class="index-headline normal"><span>Background</span></h5>
  
  <div class="container featured" style="max-width: 900px; margin: 0 auto;">
    <article class="post" role="article">
      <div class="article-item">
        <header class="post-header">
          <h2 class="post-title">My background</h2>
        </header>
        <section class="post-excerpt">
          <ul>
            <li>MA English Literature, MSc Narrative Futures</li>
            <li>15+ years in journalism and content marketing, primarily as an economic, finance and technology specialist.</li>
          </ul>
        </section>
      </div>
    </article>
  </div>


</main>
