---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }})"{% endif %}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
      <a class="blog-logo" href="{{site.url}}{{site.baseurl}}" style="background-image: url('{{ site.logo | prepend: site.baseurl }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description">{{ site.description }}</h2>
    <div class="custom-links">
        <a href="{{ "/assets/cv/my_cv.pdf" | prepend: site.baseurl }}" download>CV</a>
        &nbsp;&nbsp;·&nbsp;&nbsp;
      {% for social in site.social %}
        {% if social.url %}
            <a class="icon-{{ social.icon }}" href="{{ social.url }}" {% if social.desc %} title="{{ social.desc }}"{% endif %}">
              <i class="fa fa-{{ social.icon }}"></i>
            </a>
            &nbsp;&nbsp;·&nbsp;&nbsp;
        {% endif %}
      {% endfor %}
      <a href={{ "/contact/" | prepend: site.baseurl }}>Contact</a>
    </div>
</header>


<main class="content" role="main">

  <h5 class="index-headline"><span>Bio</span></h5>
  
  <div class="container regular">
    <article class="post" role="article">
      <div class="article-item">
        <section class="post-excerpt clearfix">
            <img src="assets/images/Nice_profile.jpg" alt="Profile picture">
          <p>Prior to starting my PhD, I completed an MSc in Narrative Futures: Art, Data, and Society at the Edinburgh Futures Institute, where my work centred on the narrative environment that shaped the EU AI Act. My interdisciplinary studies span STS, data capitalism and colonialism, media and communication studies, linguistics, computational text representation and analysis, and algorithmic justice. Professionally, I am a journalist and content writer, with a focus on scientific and technological communications, economic and financial services coverage and the many implications of technological change.</p>
        </section>
      </div>
    </article>
  </div>
    
    <h5 class="index-headline"><span>Current research</span></h5>
  
  <div class="container regular">
    <article class="post" role="article">
      <div class="article-item">
        <header class="post-header">
          <h2 class="post-title">Alphabet and algorithm: social, political and technological entanglements in digital text encoding</h2>
        </header>
        <section class="post-excerpt">
            <img src="assets/images/DR-NLP-LogoWhite-1.png" alt="CDT Logo">
          <p>I'm investigating how text encoding in online webforms is embedding error in data systems and digital identities by failing to accurately represent names outside of the Anglosphere. Many webforms don't take diacritical marks (so-called ‘special characters’ like the Irish síneadh fada or the French circumflex), so users have to perform an anglicisation of their name in order to gain access to digital services, stripping out the accents so that their name is “acceptable” to the system. This is a racial microaggression, a systematic cultural erasure that is lodged in the infrastructure of layered technology systems, where the capabilities of the cutting edge are limited by the affordances of the foundations.</p>
<p>My research aims to highlight the social impacts of name misrepresentation on culture and identity, linking these to current discourse on data colonialism, linguistic imperialism and techno-solutionism. It also examines the potential technological impacts, including the errors of today and potential representational and cultural bias in the NLP-enabled systems of tomorrow. I seek to understand if LLMs process and represent multilingual names differently and what the real-world implications may be.</p>
<p>The findings of this project are expected to offer new insights into social and cultural harms hidden within modern data infrastructures, the technological obstacles to effective and efficient natural language processing, and how these two issues intersect. I hope they will be useful to academics considering the social and ethical impacts of natural language processing, and those who work in multilingual NLP and digital access issues. In a wider context, the research should be helpful to developers, designers and policymakers involved in decision-making around the implementation of new technologies and the adoption of text encoding standards.
</p>
        </section>
      </div>
    </article>
  </div>

<h5 class="index-headline"><span>Publications</span></h5>
  
  <div class="container regular">
    <article class="post" role="article">
      <div class="article-item">
          <header class="post-header">
          <h2 class="post-title">Journals</h2>
        </header>
        <section class="post-excerpt">
        <ul>
            <li><p><strong>Jones, B., Strait, A., Parnell, B.-A., Horzyk, A. M., & Perez, J. (2025). Journalism and generative AI: data, deals and disruption in the news media. Zenodo. <a href="https://doi.org/10.5281/zenodo.14968194">(DOI)</a></strong></p> <p>The findings from a workshop exploring the issues arising from AI companies’ use of news as data for training and grounding AI systems.</p></li>
            <li><p><strong>Parnell, B-Á. (2025). The Tourist, TEXT Prose and Poetry, 29 (1), pp. 12-21. <a href="https://doi.org/10.52086/001c.137249">(DOI)</a></strong></p><p> A short story that was both an experiment in co-creation with computational and generative methods, and a response to UK policy on AI.</p></li>
          </ul>
        </section>
      </div>
    </article>
  </div>

<h5 class="index-headline"><span>Presentations</span></h5>
  
  <div class="container regular">
    <article class="post" role="article">
      <div class="article-item">
          <header class="post-header">
          <h2 class="post-title">Conferences</h2>
        </header>
        <section class="post-excerpt">
        <ul>
            <li><p><strong>2025</strong></p>
                <ul>
                    <li><p>10th STS Italia Conference "Technoscience for Good"</p><p><strong>From Determinism to Dystopia: Industry-Driven Narratives and the EU AI Act</strong></p></li>
                    <li><p>4S 2025 Conference: Reverberations</p><p><strong>Fighting for the Fada: Digital Misrepresentation and Cultural Erasure in Ireland's Online Systems</strong></p></li>      
            </li>
          </ul>
        </section>
      </div>
    </article>
  </div>

    <h5 class="index-headline"><span>Exhibitions</span></h5>
  
  <div class="container regular">
    <article class="post" role="article">
      <div class="article-item">
        <header class="post-header">
          <h2 class="post-title">What's in a Name?</h2>
            <h3>Exploring Personal Name (Mis)Representation Online</h3>
        </header>
        <section class="post-excerpt">
            <img src="assets/images/Science_Festival_2025/Me and participants.jpg" alt="Author with participants at the Edinburgh Science Festival 2025">
            <img src="assets/images/Science_Festival_2025/Participant and screen.jpg" alt="Participant interacting with the installation at the Edinburgh Science Festival 2025">
          <p>At the Edinburgh Science Festival in 2025, participants were invited to engage with the issue of digital name misrepresentation through a reversal of roles, where English-language names met the sort of culturally insensitive error warnings usually reserved for those with names in other languages - "Whoops! That's not a name. Please try again." Inhabiting this role allowed people who had never seen these warnings to feel the frustration of online rejection, while the multiple-language keyboard gave participants with names in other languages the new experience of recognition for their given name. This interaction sparked many fruitful conversations, spreading awareness for those who had never encountered this before and creating a feeling of community for others who had never seen this as a widespread issue.
</p>
        </section>
      </div>
    </article>
  </div>
    
  <h5 class="index-headline"><span>Previous work</span></h5>
  
  <div class="container regular">
    <article class="post" role="article">
      <div class="article-item">
        <header class="post-header">
          <h2 class="post-title">How have the stories told by the AI industry about AI as a technology influenced the formation of the EU AI Act?</h2>
        </header>
        <section class="post-excerpt">
            <img src="assets/images/newspapers-444448_1280.jpg" alt="Folded newspaper, Image by Andrys Stienstra from Pixabay">
        <p>My masters' thesis asks if the narratives that surround AI as a technology, in media reports, interviews and even submissions of evidence to the EU Commission, could have influenced how policymakers thought about what they needed to regulate and how they would do it. In particular, prevailing stories that AI will definitely progress until it reaches general intelligence, that it will lead to either utopia or dystopia, and that it's a zero-sum game, if 'we' don't get there first, someone else wil reap the rewards.</p>
        </section>
      </div>
    </article>
  </div>

 <h5 class="index-headline"><span>Background</span></h5>
  
  <div class="container featured">
    <article class="post" role="article">
      <div class="article-item">
        <header class="post-header">
        <h2 class="post-title">Education and Experience</h2>
        </header>
        <section class="post-excerpt">
        <ul>
            <li>MA English Literature, MSc Narrative Futures</li>
            <li>15+ years in journalism and content marketing, primarily as an economic, finance and technology specialist.</li>
          </ul>
        </section>
      </div>
    </article>
  </div>


</main>
